" Init {{{
set hlsearch
set scrolloff=8
set relativenumber
set number
set ignorecase smartcase
set showmode
set showcmd
set visualbell
set history=1000
set incsearch
let mapleader= ","
set wrapscan                      " searches wrap around the end of the file
set gdefault                      " substitute all occurrences in line per default
set clipboard=unnamedplus,unnamed,ideaput " integrate with system clipboard
"}}}

"Plugins  {{{
Plug 'tommcdo/vim-exchange'
Plug 'tpope/vim-commentary'
Plug 'vim-surround'
Plug 'easymotion/vim-easymotion'
set ideajoin
set exchange
set commentary
set anyobject

set which-key
set notimeout

"}}}

# which key config
let g:WhichKey_ShowVimActions = "true"

" NERDTree {{{
Plug 'preservim/nerdtree'
map <leader>N   :NERDTree<CR>
let g:NERDTreeMapActivateNode='l'
let g:NERDTreeMapJumpParent='h'
"}}}

" Easy motions {{{
map <Leader>w <Plug>(easymotion-bd-w)
map <Leader>L <Plug>(easymotion-bd-jk)
map <Leader>f <Plug>(easymotion-bd-f)
map <leader>F <Plug>(easymotion-f)
"}}}

" Use ctrl-c as an ide shortcut in normal and visual modes
sethandler <C-C> n-v:ide i:vim
sethandler <C-D> a:vim
sethandler <C-U> a:vim
sethandler <C-J> n-v:vim i:ide
sethandler <C-K> n-v:vim i:ide
sethandler <C-W> a:vim
sethandler <C-F> a:vim
sethandler <C-B> a:vim
sethandler <C-R> a:vim


" Breakpoints && bookmarks {{{
nnoremap <Leader>bt     :action ToggleLineBreakpoint<CR>
nnoremap <Leader>bv     :action ViewBreakpoints<CR>

nnoremap <leader>BB     :action ToggleBookmark<cr>
nnoremap <leader>BV 	:action ShowBookmarks<cr>
nnoremap <leader>BT 	:action ToggleBookmarkWithMnemonic<cr>
"}}}

" System clipboard copy/paste {{{
noremap <leader>y "+y
noremap <leader>Y "+Y
noremap <leader>p "+p
noremap <leader>P "+P
"
"}}}

" Windows {{{
nnoremap <leader>l      <c-w>l
nnoremap <leader>j      <c-w>j
nnoremap <leader>h      <c-w>h
nnoremap <leader>k      <c-w>k
"}}}

" Options {{{
nnoremap cow 		:action EditorToggleUseSoftWraps<cr>
nnoremap col 		:action EditorToggleShowWhitespaces<cr>
"}}}

" Find && usage actions {{{
nnoremap <space>u   	:action FindUsages<cr>
nnoremap <space>U   	:action ShowUsages<cr>
nnoremap <space><a-f>  	:action FindUsagesInFile<cr>
nnoremap <space>h   	:action HighlightUsagesInFile<cr>
"}}}

" View actions {{{
nnoremap \f 	        :action FileStructurePopup<cr>
nnoremap \a 		:action AddToFavoritesPopup<cr>
nnoremap \m 		:action MethodHierarchy<cr>
nnoremap \t 		:action TypeHierarchy<cr>
nnoremap \c 		:action CallHierarchy<cr>
nnoremap \q 		:action QuickJavaDoc<cr>
"}}}

" Code navigation {{{
nnoremap ]td 	        :action GotoTypeDeclaration<cr>
nnoremap ]sm 	        :action GotoSuperMethod<cr>
nnoremap ]i 	        :action GotoImplementation<cr>
nnoremap <space>a 	:action GotoAction<cr>
nnoremap <space>c 	:action GotoClass<cr>
nnoremap <space>e 	:action SearchEverywhere<cr>
nnoremap <space>f 	:action GotoFile<cr>
nnoremap <space>i 	:action GotoUrlAction<cr>
nnoremap <space>l 	:action RecentLocations<cr>
nnoremap <space>r 	:action RecentFiles<cr>
nnoremap <space>s 	:action GotoSymbol<cr>
nnoremap <space>t  	:action GotoTest<cr>

nnoremap <space>d       :action ActivateDebugToolWindow<cr>
nnoremap <space>m       :action ActivateMavenToolWindow<cr>
nnoremap <space>F       :action ActivateFindToolWindow<cr>
nnoremap <space>g       :action ActivateGitLabCICDToolWindow<cr>
nnoremap <space>D       :action ActivateDatabaseToolWindow<cr>
nnoremap <space>S       :action ActivateServicesToolWindow<cr>

nnoremap <leader>t      :action ActivateTerminalToolWindow<cr>

nnoremap [q :action PreviousOccurence<cr>
nnoremap ]q :action NextOccurence<cr>

" nnoremap <space>q  :action QuickJavaDoc<cr>

"}}}


" Run/debug  invoking {{{
nnoremap <leader>r 		:action Run<cr>
nnoremap <leader>R 		:action RunClass<cr>
nnoremap <leader>d 		:action Debug<cr>
nnoremap <leader>D 		:action DebugClass<cr>

nnoremap <leader>cc             :action Compile<cr>
nnoremap <leader>cd             :action CompileDirty<cr>

"}}}

" Compatibility {{{
nnoremap g/ /
nnoremap g<c-r> 	:action Replace<cr>
nnoremap / 		:action Find<cr>
" Built-in navigation to navigated items works better
nnoremap <c-o> 		:action Back<cr>
nnoremap <c-i> 		:action Forward<cr>
" But preserve ideavim defaults
nnoremap g<c-o> 	<c-o>
nnoremap g<c-i> 	<c-i>
nnoremap g<c-t>         <c-t>
"}}}

" VCS {{{
nnoremap ]c              :action VcsShowNextChangeMarker<cr>
nnoremap [c              :action VcsShowPrevChangeMarker<cr>
nnoremap <leader>C       :action VcsShowCurrentChangeMarker<cr>
" }}}

" Miscellaneous {{{
" Clear the search buffer when hitting return
nnoremap z,al :actionlist 

nmap <leader>x <Action>(HideAllWindows)
" move lines
nmap <C-k> <Action>(MoveLineUp)
nmap <C-j> <Action>(MoveLineDown)

nnoremap <Leader>ic :action InspectCode<CR>
nnoremap <Leader>oi :action OptimizeImports<CR>

nnoremap <space><cr> 	:nohlsearch<cr>
nnoremap ZQ 		:action Exit<cr>
nnoremap ZZ             :action CloseContent<cr>
noremap <c-q>  		:action QuickJavaDoc<cr>
noremap \sc      	:source ~/.ideavimrc<cr>
noremap \ec      	:e ~/.ideavimrc<cr>
nnoremap <space>oe 	:action FileEditor.OpenDataEditor<cr>
nnoremap <leader>nl     :action SelectInProjectView<cr>
nnoremap <c-z>          :action ToggleZenMode<cr>

" Splitting Windows
nmap <Leader>%      :vsplit<CR>
nmap <Leader>"      :split<CR>
" Quit normal mode
nnoremap <Leader>q  :q<CR>
nnoremap <Leader>Q  :qa!<CR>

" Refactoring
nmap \rt :action Refactorings.QuickListPopupAction<CR>
nmap \ri :action Inline<CR>
nmap \rn :action RenameElement<CR>
nmap \rev :action IntroduceVariable<CR>
nmap \ref :action IntroduceField<CR>
nmap \reo :action IntroduceParameterObject<CR>
nmap \rep :action IntroduceParameter<CR>
vmap \rec :action IntroduceConstant<CR>
nmap \rem :action ExtractMethod<CR>
nmap \rm :action Move<CR>
nmap \rG :action Generate<CR>
nmap \rc :action ReformatCode<CR>
nmap \rr :action Rerun<CR>

nmap \g  :action Generate<CR>
nmap \o  :action OverrideMethods<CR>

nnoremap [e :action GotoPreviousError<CR>
nnoremap ]e :action GotoNextError<CR>
map gh <Action>(ShowErrorDescription)

nnoremap g; :action JumpToLastChange<CR>
nnoremap g, :action JumpToNextChange<CR>

nmap <C-p> :action ParameterInfo<CR>
imap <C-p> <C-o>:action ParameterInfo<CR>
" Open recent project dialog box
nmap <Leader><Leader>m :action ManageRecentProjects<CR>

" change font size
nmap + :action EditorIncreaseFontSize<CR>
nmap - :action EditorDecreaseFontSize<CR>
nmap <leader>= :action EditorResetFontSize<CR>


" tests
nnoremap !t       :action ShowRecentTests<CR>

"}}}

" russian mappings {{{
map ё `
map й q
map ц w
map у e
map к r
map е t
map н y
map г u
map ш i
map щ o
map з p
map х [
map ъ ]
map ф a
map ы s
map в d
map а f
map п g
map р h
map о j
map л k
map д l
map ж ;
map э '
map я z
map ч x
map с c
map м v
map и b
map т n
map ь m
map б ,
map ю .
map Ё ~
map Й Q
map Ц W
map У E
map К R
map Е T
map Н Y
map Г U
map Ш I
map Щ O
map З P
map Х {
map Ъ }
map Ф A
map Ы S
map В D
map А F
map П G
map Р H
map О J
map Л K
map Д L
map Ж :
map Э "
map Я Z
map Ч X
map С C
map М V
map И B
map Т N
map Ь M
map Б <
map Ю >
map пп gg
map П G
" }}}
" vim:ft=vim:fdm=marker
