
" Init {{{
set hlsearch
set scrolloff=3
set relativenumber
set number
set ignorecase smartcase
set showmode
set nocompatible
set history=1000
set incsearch
" Emulate vim-surround plugin
set surround
let mapleader= ","
"}}}

" Disable keys {{{
inoremap <esc> 		<nop>
inoremap jk 		<esc>
inoremap ол 		<esc>
"}}}

" Breakpoints && bookmarks {{{
nnoremap <a-s-b> 	:action ToggleLineBreakpoint<cr>
nnoremap <space>e 	:action ToggleBreakpointEnabled<cr>
nnoremap <space>s 	:action ViewBreakpoints<cr>

nnoremap <a-b>  	:action ToggleBookmark<cr>
nnoremap <space>M 	:action ToggleBookmarkWithMnemonic<cr>
nnoremap <space>S 	:action ShowBookmarks<cr>
"}}}

" System clipboard copy/paste {{{
noremap 		<space>y "*y
noremap 		<space>Y "*Y
noremap 		<space>p "*p
noremap 		<space>P "*P
"}}}

" Windows {{{
nnoremap <leader>l      <c-w>l
nnoremap <leader>j      <c-w>j
nnoremap <leader>h      <c-w>h
nnoremap <leader>k      <c-w>k
"}}}

" Options {{{
nnoremap cow 		:action EditorToggleUseSoftWraps<cr>
nnoremap col 		:action EditorToggleShowWhitespaces<cr>
"}}}

" Find && usage actions {{{
nnoremap <space>u   	:action FindUsages<cr>
nnoremap <space>U   	:action ShowUsages<cr>
nnoremap <space>f   	:action FindUsagesInFile<cr>
nnoremap <space>m   	:action FindModal<cr>
nnoremap <space>h   	:action HighlightUsagesInFile<cr>
"}}}

" View actions {{{
nnoremap <space>j 	:action EditorJoinLines<cr>
nnoremap <space>t 	:action FileStructurePopup<cr>
nnoremap \p 		:action ParameterInfo<cr>
nnoremap \a 		:action AddToFavoritesPopup<cr>
nnoremap \spm 		:action ShowPopupMenu<cr>
nnoremap \m 		:action MethodHierarchy<cr>
nnoremap \t 		:action TypeHierarchy<cr>
nnoremap \c 		:action CallHierarchy<cr>
"}}}

" Code navigation {{{
nnoremap <leader>gt  	:action GotoTest<cr>
nnoremap ga 		:action GotoAction<cr>
nnoremap gs 		:action GotoSymbol<cr>
nnoremap gf 		:action GotoFile<cr>
nnoremap gr 		:action RecentFiles<cr>
nnoremap gc 		:action GotoClass<cr>
nnoremap gi 		:action GotoImplementation<cr>
nnoremap gsm 		:action GotoSuperMethod<cr>
nnoremap gtd 		:action GotoTypeDeclaration<cr>
"}}}

" Run/debug  invoking {{{
nnoremap <leader>r 		:action Run<cr>
nnoremap <leader>R 		:action RunClass<cr>
nnoremap <leader>d 		:action Debug<cr>
nnoremap <leader>D 		:action DebugClass<cr>
"}}}

" Unimpaired mappings {{{
nnoremap [<space> 	O<esc>j
nnoremap ]<space> 	o<esc>k
nnoremap [q 		:action PreviousOccurence<cr>
nnoremap ]q 		:action NextOccurence<cr>
nnoremap ]n   		:action FindNext<cr>
nnoremap [n   		:action FindPrevious<cr>
nnoremap ]p 		:action NextParameter<cr>
nnoremap [p 		:action PrevParameter<cr>
"}}}

" Compatibility {{{
nnoremap g/ /
nnoremap g<c-r> 	:action Replace<cr>
nnoremap / 		:action Find<cr>
" Built-in navigation to navigated items works better
nnoremap <c-o> 		:action Back<cr>
nnoremap <c-i> 		:action Forward<cr>
" But preserve ideavim defaults
nnoremap g<c-o> 	<c-o>
nnoremap g<c-i> 	<c-i>

nnoremap g<c-t>         <c-t>

nnoremap [] 		:action MethodUp<cr>
nnoremap ][ 		:action MethodDown<cr>
"}}}

" VCS {{{
nnoremap <leader>vpu     :action Vcs.UpdateProject<cr>
" }}}

" Miscellaneous {{{
" Clear the search buffer when hitting return
nnoremap <space><cr> 	:nohlsearch<cr>
nnoremap \<c-r> 	:action Git.Revert<cr>
nnoremap ZZ 		:action Exit<cr>
noremap <c-q>  		:action QuickJavaDoc<cr>
noremap ss     		:source ~/.ideavimrc<cr>
nnoremap <space>oe 	:action FileEditor.OpenDataEditor<cr>
"}}}

" vim:ft=vim:fdm=marker
