" Init {{{
set hlsearch
set scrolloff=8
set relativenumber
set number
set ignorecase smartcase
set showmode
set showcmd
set visualbell
set history=1000
set incsearch
let mapleader= ","
set wrapscan                      " searches wrap around the end of the file
set gdefault                      " substitute all occurrences in line per default
set clipboard=unnamedplus,unnamed,ideaput " integrate with system clipboard
"}}}

"Plugins  {{{
Plug 'tommcdo/vim-exchange'
Plug 'tpope/vim-commentary'
Plug 'vim-surround'
Plug 'easymotion/vim-easymotion'
set ideajoin
set exchange
set commentary
" see https://github.com/magidc/ideavim-anyobject
set anyobject

set nowhich-key
set notimeout

"}}}

# which key config
let g:WhichKey_ShowVimActions = "true"

" NERDTree {{{
" see https://github.com/JetBrains/ideavim/wiki/NERDTree-support
Plug 'preservim/nerdtree'
map <leader>e   :NERDTree<CR>
"}}}

" Easy motions {{{
" <ll> means that you have to prefix the command with <leader><leader>
   " Default Mapping |  <Plug> command       |
   " -----------------------------------------------------------------
   "  <ll>f{char}    |  <Plug>(easymotion-f) |  mapped to fn
   "  <ll>F{char}    |  <Plug>(easymotion-F) |  mapped to Fn
   "  <ll>t{char}    |  <Plug>(easymotion-t) |  mapped to tn
   "  <ll>T{char}    |  <Plug>(easymotion-T) |  mapped to Tn
   "
   "  <ll>w          |  <Plug>(easymotion-w) |
   "  <ll>W          |  <Plug>(easymotion-W) |
   "  <ll>b          |  <Plug>(easymotion-b) |
   "  <ll>B          |  <Plug>(easymotion-B) |
   "  <ll>e          |  <Plug>(easymotion-e) |
   "  <ll>E          |  <Plug>(easymotion-E) |
   "  <ll>ge         |  <Plug>(easymotion-ge |
   "  <ll>gE         |  <Plug>(easymotion-gE |
   "  <ll>j          |  <Plug>(easymotion-j) |
   "  <ll>k          |  <Plug>(easymotion-k) |
   "  <ll>n          |  <Plug>(easymotion-n) |
   "  <ll>N          |  <Plug>(easymotion-N) |
   "  <ll>s          |  <Plug>(easymotion-s) |  mapped to sn
"}}}

" Use ctrl-c as an ide shortcut in normal and visual modes
sethandler <C-C> n-v:ide i:vim
sethandler <C-D> a:vim
sethandler <C-U> a:vim
sethandler <C-J> n-v:vim i:ide
sethandler <C-E> n-v:vim i:ide
sethandler <C-K> n-v:vim i:ide
sethandler <C-W> a:vim
sethandler <C-F> a:vim
sethandler <C-B> a:vim
sethandler <A-F> a:ide
sethandler <C-R> a:vim


" Breakpoints && bookmarks {{{
nnoremap <Leader>bt     :action ToggleLineBreakpoint<CR>
nnoremap <Leader>bv     :action ViewBreakpoints<CR>

nnoremap <leader>BB     :action ToggleBookmark<cr>
nnoremap <leader>BV 	:action ShowBookmarks<cr>
nnoremap <leader>BT 	:action ToggleBookmarkWithMnemonic<cr>
"}}}

" System clipboard copy/paste {{{
noremap <leader>y "+y
noremap <leader>Y "+Y
noremap <leader>p "+p
noremap <leader>P "+P
"
"}}}

" Windows {{{
nnoremap <leader>l      <c-w>l
nnoremap <leader>j      <c-w>j
nnoremap <leader>h      <c-w>h
nnoremap <leader>k      <c-w>k
"}}}

" Options {{{
nnoremap cow 		:action EditorToggleUseSoftWraps<cr>
nnoremap col 		:action EditorToggleShowWhitespaces<cr>
"}}}

" Find && usage actions {{{
nnoremap <space>u   	:action FindUsages<cr>
nnoremap <space>U   	:action ShowUsages<cr>
nnoremap <space><a-f>  	:action FindUsagesInFile<cr>
nnoremap <space>h   	:action HighlightUsagesInFile<cr>
"}}}

" View actions {{{
nnoremap \f 	        :action FileStructurePopup<cr>
nnoremap \a 		:action AddToFavoritesPopup<cr>
nnoremap \hm 		:action MethodHierarchy<cr>
nnoremap \ht 		:action TypeHierarchy<cr>
nnoremap \hc 		:action CallHierarchy<cr>
nnoremap \q 		:action QuickJavaDoc<cr>
"}}}

" Code navigation {{{
nnoremap ]td 	        :action GotoTypeDeclaration<cr>
nnoremap ]sm 	        :action GotoSuperMethod<cr>
nnoremap ]i 	        :action GotoImplementation<cr>
nnoremap <space>a 	:action GotoAction<cr>
nnoremap <space>c 	:action GotoClass<cr>
nnoremap <space>e 	:action SearchEverywhere<cr>
nnoremap <space>f 	:action GotoFile<cr>
nnoremap <space>i 	:action GotoUrlAction<cr>
nnoremap <space>l 	:action RecentLocations<cr>
nnoremap <space>r 	:action RecentFiles<cr>
nnoremap <space>s 	:action GotoSymbol<cr>
nnoremap <space>t  	:action GotoTest<cr>

nnoremap <space>d       :action ActivateDebugToolWindow<cr>
nnoremap <space>m       :action ActivateMavenToolWindow<cr>
nnoremap <space>F       :action ActivateFindToolWindow<cr>
nnoremap <space>g       :action ActivateGitLabCICDToolWindow<cr>
nnoremap <space>D       :action ActivateDatabaseToolWindow<cr>
nnoremap <space>S       :action ActivateServicesToolWindow<cr>

nnoremap <leader>t      :action ActivateTerminalToolWindow<cr>

nnoremap [q :action PreviousOccurence<cr>
nnoremap ]q :action NextOccurence<cr>

" nnoremap <space>q  :action QuickJavaDoc<cr>

"}}}


" Run/debug  invoking {{{
" run
nnoremap <leader>rr 		:action Run<cr>
nnoremap <leader>rc 		:action RunClass<cr>
nnoremap <leader>rC 		:action RunCoverage<cr>
nnoremap <leader>ra 		:action RunAnything<cr>

# rerunt
nnoremap <leader>Rr             :action Rerun<CR>
nnoremap <leader>Rt             :action RerunTests<CR>
nnoremap <leader>Rft            :action RerunFailedTests<CR>

"}}}

" Compatibility {{{
nnoremap g/ /
nnoremap g<c-r> 	:action Replace<cr>
nnoremap / 		:action Find<cr>
" Built-in navigation to navigated items works better
nnoremap <c-o> 		:action Back<cr>
nnoremap <c-i> 		:action Forward<cr>
" But preserve ideavim defaults
nnoremap g<c-o> 	<c-o>
nnoremap g<c-i> 	<c-i>
nnoremap g<c-t>         <c-t>
"}}}

" VCS {{{
nnoremap ]C              :action VcsShowNextChangeMarker<cr>
nnoremap [C              :action VcsShowPrevChangeMarker<cr>
nnoremap <leader>Hp      :action Vcs.ShowDiffChangedLines<cr>
nnoremap <leader>Hu      :action Vcs.RollbackChangedLines<cr>
" }}}

" Miscellaneous {{{
" Clear the search buffer when hitting return
nnoremap z,al :actionlist 

nmap <leader>x <Action>(HideAllWindows)
" move lines
nmap <C-k> <Action>(MoveLineUp)
nmap <C-j> <Action>(MoveLineDown)

nnoremap <Leader>ic :action InspectCode<CR>
nnoremap <Leader>oi :action OptimizeImports<CR>

nnoremap <space><cr> 	:nohlsearch<cr>
nnoremap ZQ 		:action Exit<cr>
nnoremap ZZ             :action CloseContent<cr>
noremap <c-q>  		:action QuickJavaDoc<cr>
noremap \sc      	:source ~/.ideavimrc<cr>
noremap \ec      	:e ~/.ideavimrc<cr>
nnoremap <space>oe 	:action FileEditor.OpenDataEditor<cr>
nnoremap <leader>nl     :action SelectInProjectView<cr>
nnoremap <c-z>          :action ToggleZenMode<cr>

" Splitting Windows
nmap <Leader>%      :vsplit<CR>
nmap <Leader>"      :split<CR>
" Quit normal mode
nnoremap <Leader>q  :q<CR>
nnoremap <Leader>Q  :qa!<CR>

" Refactoring
nmap \rt :action Refactorings.QuickListPopupAction<CR>
nmap \ri :action Inline<CR>
nmap \rn :action RenameElement<CR>
nmap \rev :action IntroduceVariable<CR>
nmap \ref :action IntroduceField<CR>
nmap \reo :action IntroduceParameterObject<CR>
nmap \rep :action IntroduceParameter<CR>
vmap \rec :action IntroduceConstant<CR>
nmap \rem :action ExtractMethod<CR>
nmap \rm  :action Move<CR>
nmap \rc  :action ReformatCode<CR>

nmap \g  :action Generate<CR>
nmap \o  :action OverrideMethods<CR>

nnoremap [e :action GotoPreviousError<CR>
nnoremap ]e :action GotoNextError<CR>
map gh <Action>(ShowErrorDescription)

nnoremap g; :action JumpToLastChange<CR>
nnoremap g, :action JumpToNextChange<CR>

nmap <C-p> :action ParameterInfo<CR>
imap <C-p> <C-o>:action ParameterInfo<CR>
" Open recent project dialog box
nmap <Leader><Leader>m :action ManageRecentProjects<CR>

" change font size
nmap + :action EditorIncreaseFontSize<CR>
nmap - :action EditorDecreaseFontSize<CR>
nmap <leader>= :action EditorResetFontSize<CR>


" tests
nnoremap !t       :action ShowRecentTests<CR>

"}}}

" russian mappings {{{
noremap ё `
noremap й q
noremap ц w
noremap у e
noremap к r
noremap е t
noremap н y
noremap г u
noremap ш i
noremap щ o
noremap з p
noremap х [
noremap ъ ]
noremap ф a
noremap ы s
noremap в d
noremap а f
noremap п g
noremap р h
noremap о j
noremap л k
noremap д l
noremap ж ;
noremap э '
noremap я z
noremap ч x
noremap с c
noremap м v
noremap и b
noremap т n
noremap ь m
noremap б ,
noremap ю .
noremap Ё ~
noremap Й Q
noremap Ц W
noremap У E
noremap К R
noremap Е T
noremap Н Y
noremap Г U
noremap Ш I
noremap Щ O
noremap З P
noremap Х {
noremap Ъ }
noremap Ф A
noremap Ы S
noremap В D
noremap А F
noremap П G
noremap Р H
noremap О J
noremap Л K
noremap Д L
noremap Ж :
noremap Э "
noremap Я Z
noremap Ч X
noremap С C
noremap М V
noremap И B
noremap Т N
noremap Ь M
noremap Б <
noremap Ю >
noremap пп gg
noremap П G
" }}}
" vim:ft=vim:fdm=marker
