[core]
	editor = vim
	autocrlf = input
[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	co = checkout
	br = branch
	ci = commit
	st = status
	unstage = reset HEAD --
	last = log -1 HEAD
[user]
	name = Georgy Zheyts
	email = gzheyts@gmail.com
[color]
	ui = auto
[mergetool]
	keepBackup = false
	prompt = false
[merge]
	tool = vimdiff
	conflictstyle = diff3
[http]
	sslVerify = false
[pager]
	log = false
[init]
	defaultBranch = develop
