#!/bin/sh

# Get color support for 'less' (keeps git diffs and logs colorful)
export LESS="--RAW-CONTROL-CHARS"

# Enable true 24-bit color support for Vim, lazygit, and lazydocker
# (Only triggers if the terminal hasn't already declared it)
[[ -z ${COLORTERM:-} ]] && export COLORTERM=truecolor

# Use colors for less, man, etc. via custom termcap if it exists
[[ -f ~/.LESS_TERMCAP ]] && . ~/.LESS_TERMCAP
