i3/.i3/i3log
mpd/.config/mpd/database
mpd/.config/mpd/log
mpd/.config/mpd/pid
mpd/.config/mpd/slicker.sql
mpd/.config/mpd/state
ncmpcpp/.ncmpcpp/error.log
ranger/.config/ranger/bookmarks
ranger/.config/ranger/colorschemes/__init__.py
ranger/.config/ranger/colorschemes/__pycache__/
ranger/.config/ranger/history
ranger/.config/ranger/tagged
vimperator/.vimperator/info/
