
!#include  ".Xresources.d/color/mine"
#include  ".Xresources.d/color/pencil-dark"
#include  ".Xresources.d/urxvt"
!#include  ".Xresources.d/urxvt.keysym"
#include  ".Xresources.d/fonts"
#include  ".Xresources.d/rofi"

! vim:ft=xdefaults:fdm=marker
